<div class="container bg-info bg-opacity-5 mt-3 p-2" *ngIf="usersTodo">
  <form>
    <input
      type="search"
      placeholder="Name of User"
      [(ngModel)]="searchForm"
      name="searchForm"
      (ngModelChange)="searchUser()"
    />
    <button
      class="btn btn-primary rounded-pill px-3 m-3"
      type="submit"
      (click)="searchUser()"
    >
      SEARCH
    </button>
  </form>
  <div class="row">
    <div class="col-3 gap-2" *ngFor="let user of usersTodo">
      <div class="card h-100 bg-light">
        <img src="{{ user.image }}" class="card-img-top" alt="..." />
        <div class="card-body d-flex flex-column">
          <h5 class="card-title">{{ user.firstName }} {{ user.lastName }}</h5>
          <h6 class="flex-grow-1">{{ user.title }}</h6>
          <form>
            <div
              *ngFor="let todo of user.todos"
              [ngClass]="{
                'bg-success': todo.completed,
                'bg-danger': !todo.completed
              }"
            >
              <input
                [(ngModel)]="todo.completed"
                type="checkbox"
                id="completed-{{ todo.id }}"
                name="completed-{{ todo.id }}"
              />
              {{ todo.todo }}
            </div>
                     
          </form>
          <a routerLink="user" class="card-link">{{ user.email }}</a>
        </div>
      </div>
    </div>
  </div>
</div>
